type: "MARKDOWN_NOTE"
folder: "667ff399f826301780f8"
title: "別ブランチのファイルを取得する"
content: '''
  # 別ブランチのファイルを取得する
  
  ```bash
  git checkout ブランチ名 -- ファイル名
  ```
'''
tags: [
  "git"
]
isStarred: false
createdAt: "2017-02-09T04:13:22.523Z"
updatedAt: "2017-02-09T04:14:21.318Z"
